<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                                <div class="btn-group-center mb-3" role="group" aria-label="Groupe de boutons" >
                                    <button (click)="Entrée()" type="button" class="btn btn-info">Entrée et sortie</button>
                                    <button (click)="Règles()" type="button" class="btn btn-secondary">Règles et signalisation</button>
                                    <button (click)="Circulation()" type="button" class="btn btn-info">Circulation</button>
                                    <button (click)="Conducteur()" type="button" class="btn btn-secondary">Conducteur</button>
                                    <button (click)="Mécaniques()" type="button" class="btn btn-info">Mécaniques</button>
                                    <button (click)="Equipements de sécurité()" type="button" class="btn btn-secondary">Equipements de sécurité</button>
                                    <button (click)="Règlementation et accidents()" type="button" class="btn btn-info">Règlementation et accidents</button>
                                    <button (click)="Eco()" type="button" class="btn btn-secondary">Eco-conduite</button>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
