<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <h1>Venez admirer nos statistiques :</h1>
                    <button (click)="stats()" type="button" class="btn btn-secondary">Stats</button>
                    <div class="image">
                        <img src="https://tse2.mm.bing.net/th?id=OIP.x-4AoUqqokx2cVKF8eA8HQHaFs&pid=Api&P=0" alt="..."/>
                    </div>
                    <h3>Devenez le meilleur gràce à notre formation !</h3>
                </div>
            </div>

        </div>
    </div>
</div>
