<div>
    <h1>Mise à jour d'un moniteur</h1>
    <form [formGroup]="editForm">
        <table>
            <tr>
                <td>Nom</td>
                <td><input type="text" [(ngModel)]="moniteur.nomMoniteur" formControlName="nomMoniteur"/></td>
            </tr>
            <tr>
                <td>Prénom</td>
                <td><input type="text" [(ngModel)]="moniteur.prenomMoniteur" formControlName="prenomMoniteur"/></td>
            </tr>
            <tr>
                <td>Annee d experience</td>
                <td><input type="text" [(ngModel)]="moniteur.anneeMoniteur" formControlName="anneeMoniteur"/></td>
            </tr>
            <tr>
                <td>Description Moniteur</td>
                <td><input type="text" [(ngModel)]="moniteur.descriptionMoniteur" formControlName="descriptionMoniteur"/></td>
            </tr>
            <tr>
                <td>email Moniteur</td>
                <td><input type="text" [(ngModel)]="moniteur.emailMoniteur" formControlName="emailMoniteur"/></td>
            </tr>
            <tr>
                <td>Telephone Moniteur</td>
                <td><input type="text" [(ngModel)]="moniteur.telephoneMoniteur" formControlName="telephoneMoniteur"/></td>
            </tr>       
            <tr>
                <td colspan="2"><button (click)="updateMoniteur()">Mettre à jour</button></td>
            </tr>
        </table>
    </form>
</div>
