<div>
    <h1>Mise à jour d'une auto ecole</h1>
    <form [formGroup]="editForm">
        <table>
           
            <tr>
                <td>Adresse Auto Ecole</td>
                <td><input type="text" [(ngModel)]="autoecole.adresseAutoEcole" formControlName="adresseAutoEcole"/></td>
            </tr>
            <tr>
                <td>email Auto Ecole</td>
                <td><input type="text" [(ngModel)]="autoecole.emailAutoEcole" formControlName="emailAutoEcole"/></td>
            </tr>
            <tr>
                <td>Telephone auto ecole</td>
                <td><input type="text" [(ngModel)]="autoecole.telephoneAutoEcole" formControlName="telephoneAutoEcole"/></td>
            </tr>
            <tr>
                <td>enseigne auto ecole</td>
                <td><input type="text" [(ngModel)]="autoecole.enseigneAutoEcole" formControlName="enseigneAutoEcole"/></td>
            </tr>
            <tr>
                <td>utilisateur auto ecole</td>
                <td><input type="text" [(ngModel)]="autoecole.utilisateurAutoEcole" formControlName="utilisateurAutoEcole"/></td>
            </tr>
            <tr>
                <td>Moniteur auto ecole</td>
                <td><input type="text" [(ngModel)]="autoecole.moniteurAutoEcole" formControlName="moniteurAutoEcole"/></td>
            </tr>   
            <tr>
                <td>RDV auto ecole</td>
                <td><input type="text" [(ngModel)]="autoecole.rendezVousAutoEcole" formControlName="rendezVousAutoEcole"/></td>
            </tr>      
            <tr>
                <td colspan="2"><button (click)="updateAutoecole()">Ajouter</button></td>
            </tr>
        </table>
    </form>
</div>
