<!--<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
    
                        <h1><span myDirective>{{Titre}}</span></h1>
                        <span myDirective>{{contenus}}</span>
                    </div>-->

       
        <!--FORMULAIRE AUTO ECOLE-->
        <div [hidden]="!authenticated()">
        <div class="row"[hidden]="authorities()">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Ajouter une auto ecole</h4>
                    </div>
                    <div class="card-body">
                        <form (ngSubmit)="save()">
                            <div class="row">
                                <div class="col-md-6">
                                  <li class="example-full-width">
                                    <input placeholder="contactAutoEcole" type="text" [(ngModel)]="autoecole.contactAutoEcole" name="contactAutoEcole">
                                  </li>
                                </div>                                  
                                <div class="col-md-6">
                                    <li class="example-full-width">
                                      <input placeholder="emailAutoEcole" type="text" [(ngModel)]="autoecole.emailAutoEcole" name="emailAutoEcole">
                                    </li>
                                </div> 
                            </div>
                            <div class="row">  
                                <div class="col-md-6">
                                    <li class="example-full-width">
                                      <input placeholder="tel" type="text" [(ngModel)]="autoecole.telephoneAutoEcole" name="telephoneAutoEcole">
                                    </li>
                                </div>   
                                <div class="col-md-6">
                                    <li class="example-full-width">
                                      <input placeholder="Enseigne de l'auto Ecole" type="text" [(ngModel)]="autoecole.enseigneAutoEcole" name="enseigneAutoEcole">
                                    </li>
                                </div>
                            </div>
                            <div class="row">  
                                <div class="col-md-6">
                                    <li class="example-full-width">
                                      <input placeholder="region" type="text" [(ngModel)]="autoecole.region" name="region">
                                    </li>
                                </div>
                                <div class="col-md-6">
                                    <li class="example-full-width">
                                      <input placeholder="ville" type="text" [(ngModel)]="autoecole.ville" name="ville">
                                    </li>
                                </div>  
                            </div>
                                                   
                            <button class="btn btn-danger pull-right">Ajouter</button>
                            <div class="clearfix"></div>                        
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row"[hidden]="authorities()">
          <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title ">Listes des auto ecoles</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                           <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Contact Auto-Ecoles
                                    </th>
                                    <th>
                                        Email Auto-Ecoles
                                    </th>
                                    <th>
                                       Telephone Auto-Ecoles
                                    </th>
                                    <th>
                                        enseigneAE
                                    </th>

                                    <th>
                                        Region
                                    </th>
                                    <th>
                                        Ville
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let ae of autoecoles">
                                        <td>{{ae.contactAutoEcole}}</td>
                                        <td>{{ae.emailAutoEcole}}</td>   
                                        <td>{{ae.telephoneAutoEcole}}</td>    
                                        <td>{{ae.enseigneAutoEcole}}</td>    
                                        <td>{{ae.region}}</td>    
                                        <td>{{ae.ville}}</td> 
                                        
                                        <td><button class="btn btn-danger pull-right" (click)="deleteAutoecole(ae.idAutoEcole)">Delete</button></td>
                                    </tr>                                 
                                </tbody>
                             </table>                    
                          </div>
                      </div>
                 </div>
             </div>
        </div>


        <!-- FORMULAIRE MONITEUR-->


        <div class="row"[hidden]="authorities()">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Moniteurs</h4>
                    </div>
                    <div class="content">
                        <form (ngSubmit)="saveMoniteur()">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Nom</label>
                                        <input type="text" class="form-control" placeholder="Entrez le nom du moniteur" [(ngModel)]="moniteur.nomMoniteur" name="nomMoniteur">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Prenom</label>
                                        <input type="text" class="form-control" placeholder="Entrez prenom du Moniteur" [(ngModel)]="moniteur.prenomMoniteur" name="prenomMoniteur">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Annee Moniteur</label>
                                        <input type="text" class="form-control" placeholder="Annee Moniteur" [(ngModel)]="moniteur.anneeMoniteur" name="anneeMoniteur">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>description Moniteur</label>
                                        <input type="text" class="form-control" placeholder="Description" [(ngModel)]="moniteur.descriptionMoniteur" name="descriptionMoniteur">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>telephone Moniteur</label>
                                        <input type="text" class="form-control" placeholder="Entrez le telephone"[(ngModel)]="moniteur.telephoneMoniteur" name="telephoneMoniteur">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email address</label>
                                        <input type="email" class="form-control" placeholder="Email" [(ngModel)]="moniteur.emailMoniteur" name="emailMoniteur">
                                    </div>
                                </div>
                            
                                
                                <div class="col-md-6">
                                    <select multiple name="permis" [(ngModel)]="moniteur.permisDeConduire">
                                            <option *ngFor="let p of permiss" [ngValue]="p">
                                                {{p.libPermis}}
                                            </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                            <div class="col-md-6">
                                <select  name="autoecole" [(ngModel)]="moniteur.autoecole">
                                        <option *ngFor="let ae of autoecoles" [ngValue]="ae">
                                            {{ae.enseigneAutoEcole}} {{ae.ville}}
                                        </option>
                                </select>
                            </div>
                             </div>
                            <button class="btn btn-info btn-fill pull-right">S'inscrire</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>








        <div class="row" [hidden]="authorities()">
          <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title ">Listes des moniteurs</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                           <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Nom
                                    </th>
                                    <th>
                                        Prénom
                                    </th>
                                    <th>
                                        Annee d experience
                                    </th>
                                    <th>
                                        Description Moniteur
                                    </th>
                                    <th>
                                        email Moniteur
                                    </th>
                                    <th>
                                        Telephone Moniteur
                                    </th>                   
                                    <th>
                                        Supprimer
                                    </th>
                                    <th>
                                        Modifier
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let m of moniteurs">
                                        <td>{{m.nomMoniteur}}</td>
                                        <td>{{m.prenomMoniteur}}</td>   
                                        <td>{{m.anneeMoniteur}}</td>    
                                        <td>{{m.descriptionMoniteur}}</td>    
                                        <td>{{m.emailMoniteur}}</td>    
                                        <td>{{m.telephoneMoniteur}}</td>    
 
                                        
                                        <td><button class="btn btn-danger pull-right" (click)="delete(m.idMoniteur)">Delete</button></td>
                                        <td><button class="btn btn-danger pull-right" (click)="editMoniteur(m)">Editer les moniteurs</button></td>
                                    </tr>                                 
                                </tbody>
                             </table>                    
                          </div>
                      </div>
                 </div>
             </div>
        </div>
        </div>
        <div [hidden]="authenticated()">
            <p>Vous êtes administrateur ? Accéder à des suppléments</p>
        </div>


        <!--FORMULAIRE RENDEZ VOUS-->
       
        <div class="main-content" >
            <div class="container-fluid">
               
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Les Rendez-vous</h4>
                            </div>
                                    <div class="content">
                                        <form (ngSubmit)="saveRendezVous()">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Date des rendez-vous</label>
                                                            <input type="Date" class="form-control" placeholder="Entrez votre Date" [(ngModel)]="rendezVous.dateRendezVous" name="dateRendezVous">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Heure des rendez-vous</label>
                                                            <input type="text" class="form-control" placeholder="Entrez votre heure" [(ngModel)]="rendezVous.heureRendezVous" name="heureRendezVous">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <select  name="autoEcoleRendezVous" [(ngModel)]="rendezVous.autoEcoleRendezVous">
                                                                <option *ngFor="let ae of autoecoles" [ngValue]="ae">
                                                                    {{ae.enseigneAutoEcole}} {{ae.ville}}
                                                                </option>
                                                        </select>
                                                    </div>
                                                  </div>
                                    <button class="btn btn-info btn-fill pull-right">Ajouter</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" [hidden]="authorities()">
                    <div class="col-md-12">
                        <div class="card card-plain">
                            <div class="header">
                                <h4 class="title">Liste des rendez-vous</h4>
                                <p class="category">Table</p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>id</th>
                                            <th>date de rendez-vous</th>
                                            <th>heure de rendez-vous</th>
                                            <th>Action 1</th>
                                            <th>Action 2</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let a of appointment">
                                            <td>{{a.idUtilisateur}}</td>
                                            <td>{{a.dateRendezVous}}</td>
                                            <td>{{a.heureRendezVous}}</td>
                                            <td><button (click)="deleteRendezVous(a.idRendezVous)" class="btn btn-secondary">Supprimer un rendez vous</button></td>
                                            <td><button (click)="editRendezVous(a)" class="btn btn-secondary">Editer un rendez-vous</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


