<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Creer un Examen</h4>
                    </div>
                    <div class="card-body">
                        <form (ngSubmit)="saveExamenBlanc()">
                            <button mat-raised-button  class="btn btn-danger ">Creer un examen blanc</button>
                        </form>
                        <form (ngSubmit)="saveExamenFinal()">
                            <button mat-raised-button  class="btn btn-danger ">Creer un examen final</button>
                        </form>

                        <form (ngSubmit)="save()">
  

                            <div class="row">
                                <div class="col-md-6">
                                <div class="form-group">
                                    <label>iD de l' exam correspondant</label>
                                    <select  name="examenBlanc" [(ngModel)]="test.examenBlanc">
                                        <option *ngFor="let eb of examenBlancs" [ngValue]="eb">
                                            {{eb.idExamenBlanc}}
                                        </option>
                                    </select>                                 
                                </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                <div class="form-group">
                                  <label>Image</label>
                                  <input type="file" (change)="selectFile($event)" name="image">
                                </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                    <textarea placeholder="Question" rows="5" class="form-control"   [(ngModel)]='test.question' name="question"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                    <input placeholder="Bonne reponse" type="number" [(ngModel)]="test.codeBonneReponse" name="codeBonneReponse">
                                    </div>
                                </div>
                            </div>
                        
                            <div class="row">
                              <div class="col-md-6">            
                                <div class="form-group">
                                  <input matInput placeholder="Timer en seconde" type="number"  [(ngModel)]="test.timerRep" name="timerRep">
                                </div>
                               </div>
                            </div>
                            <form (ngSubmit)="saveReponse()">
                                <div class="row">
                                    <div class="col-md-4">            
                                     <div class="form-group">
                                        <input matInput placeholder="reponse" type="text"  [(ngModel)]="reponse.contenuReponse" name="contenuReponse">
                                     </div>
                                     </div>
                                     <div class="col-md-4">            
                                        <div class="form-group">
                                           <input type="number"  [(ngModel)]="reponse.codeReponse" name="codeReponse">
                                        </div>
                                    </div>
                                        <div class="col-md-4">
                                          <select  name="test" [(ngModel)]="reponse.test">
                                              <option *ngFor="let t of tests" [ngValue]="t">
                                                  {{t.idTest}}
                                              </option>
                                          </select> 
                                        </div>
                                    </div>
                                 <button mat-raised-button  class="btn btn-danger ">Ajouter Reponse</button>
                            </form>

                            <button mat-raised-button type="submit" class="btn btn-danger ">Ajouter</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Liste des questions</h4>
                      <p class="card-category"> vous voulez supprimer des questions ?</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                     image
                                  </th>
                                  <th>
                                     question
                                  </th>
                                  <th>
                                    bonne reponse
                                  </th>
                                  <th>
                                      id test
                                  </th>
                              </thead>
                              <tbody>
                                
                                <tr *ngFor="let t of tests">
                                    
                                <td><img src="data:image/jpeg;base64,{{t.image}}" height="120" width="120"/></td>
                                  <td>{{t.question}}</td>
                                  <td>{{t.codeBonneReponse}}</td>
                                  <td>{{t.idTest}}</td>
                                  <td><button (click)="delete(t.idTest)" class="btn btn-danger pull-right">Delete</button></td>
                                  <td>

                                    <table>
                                        <tr *ngFor="let r of reponses">
                                            <td>{{r.codeReponse}}</td>
                                        <div *ngIf="r.test.idTest==t.idTest">
                                        
                                        
                                         <td>{{r.codeReponse}}</td>
                                         <td>{{r.contenuReponse}}</td>
                                        <td><button (click)="deleteReponse(r.idReponse)" class="btn btn-danger pull-right">Delete</button></td>
                                    </div>
                                         </tr>
                                       
                                     </table>

                                    </td> 
                                </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
        </div>


        <h4>Score: {{score}}</h4>
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title ">Liste des questions Examens</h4>
                    <p class="card-category"> vous veuillez répondre aux questions</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>
                                   image
                                </th>
                                <th>
                                   question
                                </th>
                            </thead>
                            <tbody>
                              
                              <tr *ngFor="let t of tests">
                                  
                              <td><img src="data:image/jpeg;base64,{{t.image}}" height="120" width="120"/></td>
                                <td>{{t.question}}</td>
                                <td>

                                  <table border="2">
                                      <tr *ngFor="let r of reponses">
                                      <cond *ngIf="r.test.idTest==t.idTest">
                                      
                                      
                                      <td>{{r.contenuReponse}}</td>
                                      <td>|____________ |</td>

                                      <td><button (click)="answer(r.codeReponse,t.codeBonneReponse,score)" class="btn btn-danger pull-right">Reponse {{r.codeReponse}}</button></td>
                                      </cond>
                                       </tr>
                                     
                                   </table>

                                  </td> 
                              </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


    </div>
  </div>

