.container-fluid{
    text-align: center;
    left: 30%;
}
.content{
    text-align: center;
    left: 30%;
}

.card{
    left: 30%;
}

.main-content{
    text-align: center;
    left: 30%;

}

.form-group{
    text-align: center;
    left: 30%;
}