

<div class="image">
    <img src="https://tse1.mm.bing.net/th?id=OIP.pKuNnk8zv8bVJ_9qoviMZQHaE8&pid=Api&P=0" alt="..."/>
</div>
<div class="image">
    <img src="https://tse4.mm.bing.net/th?id=OIP.beYkN3LfzB4OYB5HQcuR_wHaCY&pid=Api&P=0" alt="..."/>
</div>

<div class="container">
<a href="http://localhost:4200/#/user" class="btn btn-info pull-left">Connectez vous</a>
<a href="http://localhost:4200/#/icons" class="btn btn-info">Visionnez nos stats</a>
<a href="http://localhost:4200/#/inscription" class="btn btn-info pull-right">Inscrivez vous</a>
</div>